/* Global Styling */
html {
  background-color: #eee;
  font-size: 62.5%;  /* 10px setup strategy for global font*/
  font-family: 'Montserrat', sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

/* End Global Styling */
